@page
@model Contabsv_core.Pages.bajoConstruccionModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="auth-main v1">
            <div class="auth-wrapper">
                <div class="error-card">
                    <div class="card-body">
                        <div class="error-image-block">
                            <img class="img-fluid" src="~/images/pages/img-under-maintenance.png" alt="img">
                        </div>
                        <div class="text-center">
                            <h1 class="mt-2">Bajo Contrucción</h1>
                            <p class="mt-2 mb-4 text-muted f-20">No pudimos encontrar la página que buscabas. ¿Por qué no intentas volver a la página principal?</p>
                            <a class="btn btn-primary d-inline-flex align-items-center mb-3" asp-page="/Index"><i class="ph-duotone ph-house me-2"></i>Inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
