@page
@model Contabsv_core.Pages.Compras.ListarModel
@using System.Security.Claims
@{
}
<div class="row">
    <!-- [ Row 1 ] start -->
    <div class="col-md-12 ">
        <div class="card statistics-card-1">
            <div class="card-body">
                <img src="~/images/widget/img-status-2.svg" alt="img" class="img-fluid img-bg" />
                <div class="d-flex align-items-center">
                    <div class="avtar bg-brand-color-1 text-white me-3">
                        <i class="fas fa-dice-d6 f-26"></i>
                    </div>
                    <div>
                        <p class="text-muted mb-0">Datos</p>
                        <div class="d-flex align-items-end">
                            <h2 class="mb-0 f-w-500">Compras</h2>
                        </div>
                    </div>
                    <div class="mt-3 text-end">
                        <div class="button-container">
                            <button class="animated-button save-btn" type="button" onclick="window.location.href='@Url.Page("/Compras/RegistrarCprInterna")'">
                                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                                </svg>
                                <span class="text">N U E V O</span>
                                <span class="circle"></span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-lg-3">
                <label class="form-label">Fecha Inicio:</label>
                <input type="date" class="form-control form-control-sm" id="fechaInicio">
            </div>
            <div class="col-lg-3">
                <label class="form-label">Fecha Fin:</label>
                <input type="date" class="form-control form-control-sm" id="fechaFin">
            </div>
            <div class="col-lg-3">
                <label class="form-label">Tipo Fecha:</label>
                <select class="form-select form-select-sm" id="tipoFecha">
                    <option value="1">Fecha de Presensatación</option>
                    <option value="2">Fecha de Emisión</option>
                </select>
            </div>
            <div class="col-lg-3 mt-3 text-end">
                <button type="submit" class="btn btn-shadow btn-primary" onclick="cargarData();">Consultar</button>
            </div>
        </div>

        <div id="spinner" class="text-center" style="display: none;">
            <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <table id="tblCompras" class="display" style="width:100%; display: none;">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="eliminarCompraModal" class="modal fade" tabindex="-1" aria-labelledby="eliminarCompraModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="eliminarCompraForm" method="post" asp-page-handler="Delete">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarCompraModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar este Compra?</p>
                    <input type="hidden" name="idCompra" id="idCompraInput" />
                </div>
                <div class="mt-3 text-end">
                    <div class="button-container">
                        <button class="animated-button cancel-btn" type="button" data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                                <path d="M7.8284 13H20V11H7.8284L13.1924 5.63589L11.7782 4.22168L4 12L11.7782 19.778L13.1924 18.3638L7.8284 13Z"></path>
                            </svg>
                            <span class="text">C A N C E L A R</span>
                            <span class="circle"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                                <path d="M7.8284 13H20V11H7.8284L13.1924 5.63589L11.7782 4.22168L4 12L11.7782 19.778L13.1924 18.3638L7.8284 13Z"></path>
                            </svg>
                        </button>

                        <button class="animated-button save-btn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                                <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                            </svg>
                            <span class="text">E L I M I N A R</span>
                            <span class="circle"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                                <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    let table;

    $(document).ready(function () {
        let today = new Date();
        let firstDay = new Date(today.getFullYear(), today.getMonth(), 1).toISOString().split('T')[0];
        let lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0).toISOString().split('T')[0];

        $("#fechaInicio").val(firstDay);
        $("#fechaFin").val(lastDay);

        cargarData();
    });

    function cargarData() {
        $("#spinner").show();

        if ($.fn.dataTable.isDataTable('#tblCompras')) {
            $('#tblCompras').DataTable().destroy();
        }

        table = new DataTable('#tblCompras', {
            responsive: true,
            processing: true,
            serverSide: false,
            ajax: {
                url: "/Compras/Listar?handler=Compras",
                type: "GET",
                data: function (d) {
                    return {
                        fechaInicio: $("#fechaInicio").val() || "",
                        fechaFin: $("#fechaFin").val() || "",
                        tipoFecha: $("#tipoFecha").val() || 1
                    };
                },
                dataSrc: function (json) {
                    return json || [];
                },
                error: function (xhr, status, error) {
                    showAlert("danger", "Error al cargar compras: " + error);
                }
            },
            columns: [
                { data: "fechaEmision", title: "Emisión" },
                { data: "codigoClaseDocumento", title: "CODIGO", visible: false },
                { data: "numeroDocumento", title: "Num Documento", className: "text-start" },
                {
                    data: null,
                    title: "Proveedor",
                    className: "text-start",
                    render: function (data, type, row) {
                        return row.razonProveedor && row.razonProveedor.trim() !== ""
                            ? row.razonProveedor
                            : `${row.nombreProveedor} ${row.apellidopProveedor}`;
                    }
                },
                { 
                    data: "totalCompras", 
                    title: "Total compra", 
                    className: "text-center",
                    render: function (data, type, row) {
                        return data ? data : 0;
                    }
                },
                    {
                        data: null,
                        title: "OPT",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, row) {
                            let menuId = `menu-${row.idDocCompra}`;

                            let btn = `
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button"
                                id="${menuId}"
                                data-bs-toggle="dropdown"
                                data-menu-id="${menuId}"
                                aria-expanded="false">
                                <i class="fas fa-sliders-h"></i>
                            </button>
                            <ul class="dropdown-menu shadow p-2 rounded-3" aria-labelledby="${menuId}">
                                <li>
                                        <button class="dropdown-item" type="button" onclick="Editar(${row.idDocCompra});">
                                        <i class="fas fa-pencil-alt me-2 text-primary"></i> Editar
                                    </button>
                                </li>
                                <li>
                                        <button class="dropdown-item" type="button" onclick="Eliminar(${row.idDocCompra});">
                                        <i class="fas fa-trash-alt me-2 text-danger"></i> Eliminar
                                    </button>
                                </li>
                                 <li>
                                          <button class="dropdown-item" type="button" onclick="Ver(${row.idDocCompra});">
                                         <i class="fas fa-search me-2 text-success"></i> Ver Datos
                                      </button>
                                 </li>
                            </ul>
                        </div>
                    `;
                            return btn;
                        }
                    }
            ],
            "initComplete": function () {
                $("#spinner").hide();
                $("#tblCompras").show();
            },
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros por página",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                zeroRecords: "No se encontraron resultados",
                emptyTable: "No hay datos disponibles",
                paginate: {
                    first: "<span class='fas fa-angle-double-left'></span>",
                    last: "<span class='fas fa-angle-double-right'></span>",
                    next: "<span class='fas fa-chevron-right'></span>",
                    previous: "<span class='fas fa-chevron-left'></span>"
                }
            }
        });
    }

    function Editar(id) {
        window.location.href = `/Compras/Editar/?id=${id}`;
    }

    function Eliminar(id) {
        $('#idCompraInput').val(id);
        $('#eliminarCompraModal').modal('show');
    }

    // Llamas a la función solo para #Apps
    floatingDropdownForTable('#tblCompras');
</script>